th, dl.field-list > dt {
    /*background-color: #ede;*/
    background-color: white;
}

table.docutils {
  border-collapse: collapse;
}

table.docutils, table.docutils th, table.docutils td {
  border: 1px solid #ccc;
}

table.docutils.align-default {
  margin-left: 0;
  margin-right: auto;
}
